li{
    list-style: none;
    margin: 10px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.ts01{
    text-shadow: 2px 2px 3px #141111;
}
.ts02 {
    color: #fff;
    text-shadow: 0px 0px 5px #999;
}


.ts03 {
    color: #ccc;
    text-shadow: -1px -1px 0 #fff, 1px 1px 0 #aaa;  
}


.ts04 {
    color: #ccc;
    text-shadow: -1px -1px 0 #aaa, 1px 1px 0 #fff;
}


.ts05 {
    color: #fff;
    text-shadow: 1px 1px 0 #999,
     -1px 1px 0 #999,
     -1px -1px 0 #999,
     1px -1px 0 #999 ;
}


.ts06 {
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 13px #f03,
    0 0 13px #f03,
    0 0 13px #f03 ;
}
.ts07{
    -webkit-text-stroke: 1px #fff;
}
body {
    background-color: #ddd;
}
.grad01{
    background:  linear-gradient(to bottom, #f33, #fff);
}
.grad02{
    background:  linear-gradient(to right, #f36 0%, #fff 50%, #f63 100%);

}
.grad03{
    background:  linear-gradient(to right bottom, #f36 0%, #fff 50%, #f63 100%);

}
#img1 {
    filter: grayscale(100%);
}


#img2 {
    filter: hue-rotate(60deg)
}


#img3 {
    filter: blur(5px)
}




